/* docs/stylesheets/extra.css */

/* Define your brand's color palette as CSS variables */
:root {
    --eucalyptus: #2CDDB3;
    --ultramarine: #4056F4;
    --french-middle: #0B0723;
    --bright-grey: #E5EAEF;
    --dark-grey-text: #333333;
    --carmine-pink: #FF3139;
    --navy-blue: #1709FF;
}